<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <array>
    <string>A</string>
    <string>A.1</string>
    <string>A.2</string>
  </array>
  <key>I</key>
  <array>
    <string>I</string>
    <string>I.1</string>
    <string>I.2</string>
  </array>
  <key>chars.basic</key>
  <array>
    <string>A</string>
    <string>AA</string>
    <string>I</string>
    <string>II</string>
    <string>U</string>
    <string>UU</string>
    <string>E</string>
    <string>EE</string>
    <string>AI</string>
    <string>O</string>
    <string>OO</string>
    <string>KA</string>
    <string>NGA</string>
    <string>CA</string>
    <string>NYA</string>
    <string>TTA</string>
    <string>NNA</string>
    <string>TA</string>
    <string>NA</string>
    <string>PA</string>
    <string>MA</string>
    <string>YA</string>
    <string>RA</string>
    <string>LA</string>
    <string>VA</string>
    <string>LLLA</string>
    <string>LLA</string>
    <string>RRA</string>
    <string>NNNA</string>
    <string>JA</string>
    <string>SHA</string>
    <string>SSA</string>
    <string>SA</string>
    <string>HA</string>
    <string>DHA</string>
    <string>JAA</string>
    <string>AYTHAM</string>
  </array>
  <key>cons.all</key>
  <array>
    <string>KA</string>
    <string>KA.1</string>
    <string>KA.2</string>
    <string>NGA</string>
    <string>CA</string>
    <string>CA.1</string>
    <string>NYA</string>
    <string>NYA.1</string>
    <string>TTA</string>
    <string>NNA</string>
    <string>TA</string>
    <string>TA.1</string>
    <string>NA</string>
    <string>PA</string>
    <string>PA.1</string>
    <string>MA</string>
    <string>MA.1</string>
    <string>YA</string>
    <string>YA.1</string>
    <string>YA.2</string>
    <string>YA.3</string>
    <string>YA.4</string>
    <string>RA</string>
    <string>RA.1</string>
    <string>LA</string>
    <string>LA.1</string>
    <string>VA</string>
    <string>VA.1</string>
    <string>VA.2</string>
    <string>LLLA</string>
    <string>LLLA.1</string>
    <string>LLLA.2</string>
    <string>LLA</string>
    <string>LLA.1</string>
    <string>LLA.2</string>
    <string>LLA.3</string>
    <string>RRA</string>
    <string>RRA.1</string>
    <string>RRA.2</string>
    <string>RRA.3</string>
    <string>NNNA</string>
    <string>NNNA.1</string>
    <string>NNNA.2</string>
    <string>JA</string>
    <string>SHA</string>
    <string>SHA.1</string>
    <string>SHA.2</string>
    <string>SSA</string>
    <string>SA</string>
    <string>SA.1</string>
    <string>SA.2</string>
    <string>SA.3</string>
    <string>HA</string>
    <string>HA.1</string>
    <string>DHA</string>
    <string>JAA</string>
  </array>
  <key>cons.basic</key>
  <array>
    <string>KA</string>
    <string>NGA</string>
    <string>CA</string>
    <string>NYA</string>
    <string>TTA</string>
    <string>NNA</string>
    <string>TA</string>
    <string>NA</string>
    <string>PA</string>
    <string>MA</string>
    <string>YA</string>
    <string>RA</string>
    <string>LA</string>
    <string>VA</string>
    <string>LLLA</string>
    <string>LLA</string>
    <string>RRA</string>
    <string>NNNA</string>
    <string>JA</string>
    <string>SHA</string>
    <string>SSA</string>
    <string>SA</string>
    <string>HA</string>
    <string>DHA</string>
    <string>JAA</string>
  </array>
  <key>corneru</key>
  <array>
    <string>NGA</string>
    <string>TTA</string>
    <string>NNA</string>
    <string>NA</string>
    <string>NNNA</string>
    <string>JA</string>
    <string>NNNA.1</string>
    <string>NNNA.2</string>
    <string>CA.1</string>
    <string>CA</string>
  </array>
  <key>curvedbottom</key>
  <array>
    <string>CA</string>
    <string>PA</string>
    <string>MA</string>
    <string>YA</string>
    <string>LA</string>
    <string>VA</string>
    <string>LLA</string>
    <string>SSA</string>
    <string>SA</string>
    <string>HA</string>
    <string>SA.1</string>
    <string>SA.2</string>
    <string>SA.3</string>
    <string>SSA.1</string>
    <string>LLA.1</string>
    <string>LLA.2</string>
    <string>LLA.3</string>
    <string>VA.1</string>
    <string>VA.2</string>
    <string>LA.1</string>
    <string>YA.1</string>
    <string>YA.2</string>
    <string>YA.3</string>
    <string>YA.4</string>
    <string>PA.1</string>
    <string>MA.1</string>
  </array>
  <key>l_ab_empty_le</key>
  <array>
    <string>RRA</string>
    <string>TA</string>
    <string>SSA</string>
    <string>SA</string>
    <string>HA</string>
    <string>PA</string>
    <string>YA</string>
  </array>
  <key>l_ab_empty_re</key>
  <array>
    <string>CA</string>
    <string>CA.1</string>
    <string>YA</string>
    <string>YA.1</string>
    <string>YA.2</string>
    <string>YA.3</string>
    <string>YA.4</string>
    <string>TA</string>
    <string>LA</string>
    <string>LLA</string>
    <string>KA</string>
    <string>NA</string>
    <string>NNA</string>
  </array>
  <key>l_ab_tight_top_le</key>
  <array>
    <string>A</string>
    <string>AA</string>
    <string>NGA</string>
    <string>CA</string>
    <string>NNA</string>
    <string>MA</string>
    <string>RA</string>
    <string>LA</string>
    <string>LLLA</string>
    <string>NNA</string>
    <string>JA</string>
    <string>SHA</string>
    <string>DHA</string>
    <string>SHA.1</string>
    <string>TA.1</string>
    <string>I</string>
  </array>
  <key>l_be_empty</key>
  <array>
    <string>KA</string>
    <string>LA</string>
    <string>LLA</string>
  </array>
  <key>l_edge</key>
  <array>
    <string>EE</string>
    <string>NGA</string>
    <string>TTA</string>
    <string>PA</string>
    <string>MA</string>
    <string>RA</string>
    <string>RRA</string>
    <string>JA</string>
    <string>SSA</string>
    <string>HA</string>
    <string>DHA</string>
    <string>JAA</string>
    <string>SHA.1</string>
  </array>
  <key>l_mid_empty</key>
  <array>
    <string>NGA</string>
    <string>TTA</string>
    <string>NNA</string>
  </array>
  <key>l_mid_le</key>
  <array>
    <string>NGA</string>
    <string>TTA</string>
    <string>NNA</string>
  </array>
  <key>l_protr_eeoo</key>
  <array>
    <string>WEE</string>
    <string>WEE.mid</string>
    <string>WAI</string>
    <string>WAI.mid</string>
    <string>WOO</string>
    <string>WAU</string>
    <string>WE.pulli.top.alt</string>
    <string>WE.mid.pulli.top.alt</string>
    <string>WE.pulli.top.protr.alt</string>
    <string>WEE.protr.alt</string>
    <string>WAI.protr.alt</string>
    <string>WO.pulli.top.alt</string>
    <string>WO.pulli.top.protr.alt</string>
    <string>WO.inv.pulli.top.alt</string>
    <string>WO.inv.pulli.top.protr.alt</string>
    <string>WOO.protr.alt</string>
    <string>WOO.inv.alt</string>
    <string>WOO.inv.protr.alt</string>
    <string>WAU.protr.alt</string>
  </array>
  <key>l_protr_eo</key>
  <array>
    <string>WE</string>
    <string>WE.mid</string>
    <string>WO</string>
    <string>WE.protr.alt</string>
    <string>WE.pulli.top.protr.alt</string>
    <string>WO.protr.alt</string>
    <string>WO.inv.alt</string>
    <string>WO.inv.protr.alt</string>
    <string>WAU</string>
    <string>WAU.protr.alt</string>
  </array>
  <key>left_pulli_cons_decomp</key>
  <array>
    <string>MA</string>
    <string>NNNA</string>
    <string>DHA</string>
  </array>
  <key>lh_edge</key>
  <array>
    <string>VA</string>
    <string>LLLA</string>
  </array>
  <key>lq_edge</key>
  <array>
    <string>SA</string>
    <string>NA</string>
    <string>NYA</string>
    <string>TA</string>
    <string>YA</string>
    <string>YA.2</string>
    <string>NNNA</string>
    <string>CA</string>
    <string>NNA</string>
  </array>
  <key>mid_alt_cons_ae</key>
  <array>
    <string>KA</string>
    <string>KA.1</string>
    <string>KA.2</string>
    <string>CA</string>
    <string>CA.1</string>
    <string>TA</string>
    <string>TA.1</string>
    <string>NA</string>
    <string>PA</string>
    <string>PA.1</string>
    <string>MA</string>
    <string>MA.1</string>
    <string>YA</string>
    <string>YA.1</string>
    <string>YA.2</string>
    <string>YA.3</string>
    <string>YA.4</string>
    <string>RA</string>
    <string>RA.1</string>
    <string>LA</string>
    <string>LA.1</string>
    <string>VA</string>
    <string>VA.1</string>
    <string>VA.2</string>
    <string>LLA</string>
    <string>LLA.1</string>
    <string>LLA.2</string>
    <string>LLA.3</string>
    <string>NNNA</string>
    <string>NNNA.1</string>
    <string>NNNA.2</string>
    <string>SHA</string>
    <string>SHA.1</string>
    <string>SHA.2</string>
    <string>SSA</string>
    <string>SA</string>
    <string>SA.1</string>
    <string>SA.2</string>
    <string>SA.3</string>
    <string>HA</string>
    <string>HA.1</string>
  </array>
  <key>mid_alt_cons_u</key>
  <array>
    <string>KA</string>
    <string>KA.1</string>
    <string>KA.2</string>
    <string>NGA</string>
    <string>NYA</string>
    <string>NYA.1</string>
    <string>NNA</string>
    <string>TA</string>
    <string>TA.1</string>
    <string>NA</string>
    <string>RA</string>
    <string>RA.1</string>
    <string>LLLA</string>
    <string>LLLA.1</string>
    <string>LLLA.2</string>
    <string>RRA</string>
    <string>RRA.1</string>
    <string>RRA.2</string>
    <string>RRA.3</string>
    <string>NNNA</string>
    <string>NNNA.1</string>
    <string>NNNA.2</string>
    <string>JA</string>
    <string>DHA</string>
    <string>WE.mid.pulli.top.alt</string>
  </array>
  <key>mida</key>
  <array>
    <string>NGA</string>
    <string>TTA</string>
    <string>NNA</string>
    <string>LLLA</string>
    <string>RRA</string>
    <string>NNNA</string>
  </array>
  <key>mide</key>
  <array>
    <string>NGA</string>
    <string>TTA</string>
    <string>NNA</string>
    <string>LLLA</string>
    <string>RRA</string>
    <string>JA</string>
    <string>NNNA</string>
  </array>
  <key>oedecompose</key>
  <array>
    <string>NYA</string>
    <string>TTA</string>
    <string>MA</string>
    <string>LLLA</string>
    <string>JA</string>
    <string>NNA</string>
    <string>NGA</string>
    <string>RRA</string>
    <string>DHA</string>
    <string>NNNA</string>
  </array>
  <key>pulli_top_disamb</key>
  <array>
    <string>KA</string>
    <string>CA</string>
    <string>TA</string>
    <string>NA</string>
    <string>PA</string>
    <string>NYA</string>
    <string>MA</string>
    <string>YA</string>
    <string>RA</string>
    <string>LA</string>
    <string>VA</string>
    <string>LLLA</string>
    <string>LLA</string>
    <string>JA</string>
    <string>DHA</string>
    <string>NNNA</string>
    <string>SHA</string>
    <string>SSA</string>
    <string>SA</string>
    <string>HA</string>
  </array>
  <key>r_edge_ab_cons</key>
  <array>
    <string>EE</string>
    <string>CA</string>
    <string>MA</string>
    <string>RA</string>
    <string>LA</string>
    <string>LLLA</string>
    <string>NNNA</string>
    <string>DHA</string>
    <string>SHA.1</string>
    <string>TA.1</string>
  </array>
  <key>r_edge_ab_eo</key>
  <array>
    <string>CA</string>
    <string>MA</string>
    <string>RA</string>
    <string>LA</string>
    <string>LLLA</string>
    <string>NNNA</string>
    <string>DHA</string>
    <string>SHA.1</string>
    <string>TA.1</string>
    <string>NNA</string>
    <string>NGA</string>
    <string>KA</string>
    <string>JA</string>
    <string>JAA</string>
    <string>TTA</string>
  </array>
  <key>r_edge_ab_mid</key>
  <array>
    <string>TTA</string>
    <string>NGA</string>
  </array>
  <key>r_edge_be</key>
  <array>
    <string>CA</string>
    <string>RA</string>
    <string>TA</string>
    <string>RRA</string>
    <string>SHA</string>
    <string>DHA</string>
  </array>
  <key>r_protr_ab_vs</key>
  <array>
    <string>WAA</string>
    <string>WI</string>
    <string>WII</string>
    <string>WO</string>
    <string>WOO</string>
  </array>
  <key>r_protr_be</key>
  <array>
    <string>WUU</string>
    <string>WUU.hor.long.top1</string>
    <string>WUU.hor.long.top2</string>
    <string>WUU.hor.long.top3</string>
    <string>WUU.hor.long.bot</string>
    <string>WUU.hor.long.top4</string>
    <string>WU</string>
    <string>WU.horiz.long1</string>
    <string>WU.horiz.long2</string>
  </array>
  <key>r_protr_pulli</key>
  <array>
    <string>PULLI</string>
    <string>PULLI_TOP_DISAMB</string>
  </array>
  <key>rh_edge_ab_cons</key>
  <array>
    <string>VA</string>
  </array>
  <key>rh_edge_ab_eo</key>
  <array>
    <string>NYA</string>
    <string>TA</string>
    <string>NA</string>
    <string>YA</string>
    <string>VA</string>
    <string>YA.2</string>
    <string>LLA</string>
    <string>SA</string>
    <string>HA</string>
    <string>PA</string>
    <string>RRA.2</string>
    <string>SSA</string>
  </array>
  <key>stubi</key>
  <array>
    <string>NGA</string>
    <string>TTA</string>
    <string>NNA</string>
    <string>RRA</string>
    <string>JA</string>
  </array>
  <key>vowels.all</key>
  <array>
    <string>A</string>
    <string>A.1</string>
    <string>A.2</string>
    <string>AA</string>
    <string>I</string>
    <string>I.1</string>
    <string>I.2</string>
    <string>II</string>
    <string>U</string>
    <string>UU</string>
    <string>E</string>
    <string>EE</string>
    <string>AI</string>
    <string>O</string>
    <string>OO</string>
    <string>AU</string>
  </array>
  <key>vowels.basic</key>
  <array>
    <string>A</string>
    <string>AA</string>
    <string>I</string>
    <string>II</string>
    <string>U</string>
    <string>UU</string>
    <string>E</string>
    <string>EE</string>
    <string>AI</string>
    <string>O</string>
    <string>OO</string>
    <string>AU</string>
  </array>
  <key>vowelsigns.basic</key>
  <array>
    <string>WAA</string>
    <string>WI</string>
    <string>WII</string>
    <string>WU</string>
    <string>WUU</string>
    <string>WE</string>
    <string>WEE</string>
    <string>WAI</string>
    <string>WO</string>
    <string>WOO</string>
    <string>WAU</string>
    <string>PULLI</string>
  </array>
  <key>vs_aa</key>
  <array>
    <string>WAA</string>
    <string>WAA.protr.alt</string>
  </array>
  <key>we_mid</key>
  <array>
    <string>WE.mid</string>
    <string>WE.protr.alt</string>
  </array>
</dict>
</plist>
