<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>CR</string>
    <string>space</string>
    <string>uni000A</string>
    <string>AYTHAM</string>
    <string>A</string>
    <string>A.1</string>
    <string>A.2</string>
    <string>AA</string>
    <string>AA.1</string>
    <string>AA.2</string>
    <string>AA.3</string>
    <string>I</string>
    <string>I.1</string>
    <string>I.2</string>
    <string>II</string>
    <string>U</string>
    <string>UU</string>
    <string>E</string>
    <string>EE</string>
    <string>EE.1</string>
    <string>EE.2</string>
    <string>EE.3</string>
    <string>AI</string>
    <string>O</string>
    <string>OO</string>
    <string>AU</string>
    <string>WAA</string>
    <string>WAA.mid</string>
    <string>WI</string>
    <string>WI.stub</string>
    <string>WI.stub.mid</string>
    <string>WII</string>
    <string>WII.stub</string>
    <string>WII.stub.mid</string>
    <string>WU</string>
    <string>WUU</string>
    <string>WU.horiz.long1</string>
    <string>WU.horiz.long2</string>
    <string>WU.vert.corner</string>
    <string>WUU.vert.corner</string>
    <string>WU.vert.mid</string>
    <string>WU.vert.corner.alt</string>
    <string>WUU.vert.mid</string>
    <string>WUU.hor.long.top1</string>
    <string>WUU.hor.long.top3</string>
    <string>WUU.hor.long.top4</string>
    <string>WUU.hor.long.bot</string>
    <string>WE</string>
    <string>WE.mid</string>
    <string>WEE</string>
    <string>WEE.mid</string>
    <string>WAI</string>
    <string>WAI.mid</string>
    <string>WO</string>
    <string>WOO</string>
    <string>WAU</string>
    <string>PULLI</string>
    <string>PULLI_TOP_DISAMB</string>
    <string>KA</string>
    <string>KA.1</string>
    <string>KA.2</string>
    <string>KA.3</string>
    <string>KA.4</string>
    <string>KA.5</string>
    <string>NGA</string>
    <string>NGA.1</string>
    <string>NGA.2</string>
    <string>CA</string>
    <string>CA.1</string>
    <string>CA.2</string>
    <string>CA.3</string>
    <string>CA.4</string>
    <string>NYA</string>
    <string>NYA.3</string>
    <string>NYA.4</string>
    <string>NYA.5</string>
    <string>NYA.1</string>
    <string>NYA.2</string>
    <string>TTA</string>
    <string>TTA.2</string>
    <string>TTA.1</string>
    <string>TTA.4</string>
    <string>NNA</string>
    <string>NNA.1</string>
    <string>NNA.2</string>
    <string>NNA.3</string>
    <string>TA</string>
    <string>TA.1</string>
    <string>TA.2</string>
    <string>TA.3</string>
    <string>TA.4</string>
    <string>TA.5</string>
    <string>NA</string>
    <string>NA.1</string>
    <string>NA.2</string>
    <string>NA.3</string>
    <string>PA</string>
    <string>PA.1</string>
    <string>PA.3</string>
    <string>PA.2</string>
    <string>PA.4</string>
    <string>PA.5</string>
    <string>PA.6</string>
    <string>PA.7</string>
    <string>PA.8</string>
    <string>MA</string>
    <string>MA.2</string>
    <string>MA.1</string>
    <string>MA.5</string>
    <string>MA.3</string>
    <string>MA.4</string>
    <string>MA.7</string>
    <string>MA.8</string>
    <string>YA</string>
    <string>YA.1</string>
    <string>YA.2</string>
    <string>YA.3</string>
    <string>YA.4</string>
    <string>YA.5</string>
    <string>YA.6</string>
    <string>RA</string>
    <string>RA.1</string>
    <string>LA</string>
    <string>LA.1</string>
    <string>LA.2</string>
    <string>VA</string>
    <string>VA.1</string>
    <string>VA.2</string>
    <string>VA.3</string>
    <string>VA.4</string>
    <string>VA.5</string>
    <string>VA.6</string>
    <string>LLLA</string>
    <string>LLLA.1</string>
    <string>LLLA.2</string>
    <string>LLLA.3</string>
    <string>LLLA.4</string>
    <string>LLA</string>
    <string>RRA</string>
    <string>NNNA</string>
    <string>JA</string>
    <string>SHA</string>
    <string>SSA</string>
    <string>SA</string>
    <string>HA</string>
    <string>DHA</string>
    <string>JAA</string>
    <string>LLA.1</string>
    <string>LLA.2</string>
    <string>LLA.3</string>
    <string>LLA.4</string>
    <string>LLA.5</string>
    <string>LLA.6</string>
    <string>LLA.7</string>
    <string>RRA.1</string>
    <string>RRA.2</string>
    <string>RRA.3</string>
    <string>RRA.6</string>
    <string>RRA.5</string>
    <string>NNNA.1</string>
    <string>NNNA.2</string>
    <string>SHA.1</string>
    <string>SHA.2</string>
    <string>SSA.1</string>
    <string>SA.1</string>
    <string>SA.2</string>
    <string>SA.3</string>
    <string>HA.1</string>
    <string>PULLI.top</string>
    <string>PULLI.left</string>
    <string>PULLI.left.1</string>
    <string>WAA.mid.mid.alt</string>
    <string>WAA.protr.alt</string>
    <string>WI.mid.mid.alt</string>
    <string>WI.protr.alt</string>
    <string>WII.mid.mid.allt</string>
    <string>WII.protr.alt</string>
    <string>WI.stub.protr.alt</string>
    <string>WII.stub.protr.alt</string>
    <string>WU.protr.alt</string>
    <string>WUU.protr.alt</string>
    <string>WUU.mid.alt.1</string>
    <string>WUU.vert.corner.alt</string>
    <string>WUU.vert.corner.alt.1</string>
    <string>WU.horiz.long1.protr.alt</string>
    <string>WU.horiz.long2.protr.alt</string>
    <string>WUU.hor.long.top1.protr.alt</string>
    <string>WUU.hor.long.top3.protr.alt</string>
    <string>WUU.hor.long.top4.protr.alt</string>
    <string>WUU.hor.long.bot.protr.alt</string>
    <string>WUU.hor.long.top2</string>
    <string>WUU.hor.long.top2.protr.alt</string>
    <string>WE.protr.alt</string>
    <string>WE.pulli.top.alt</string>
    <string>WE.mid.pulli.top.alt</string>
    <string>WE.pulli.top.protr.alt</string>
    <string>WEE.protr.alt</string>
    <string>WAI.protr.alt</string>
    <string>WO.protr.alt</string>
    <string>WO.pulli.top.alt</string>
    <string>WO.pulli.top.protr.alt</string>
    <string>WO.inv.alt</string>
    <string>WO.inv.protr.alt</string>
    <string>WO.inv.pulli.top.alt</string>
    <string>WO.inv.pulli.top.protr.alt</string>
    <string>WOO.protr.alt</string>
    <string>WOO.inv.alt</string>
    <string>WOO.inv.protr.alt</string>
    <string>WAU.protr.alt</string>
    <string>NGA.pulli.topa.alt</string>
    <string>NNA.pulli.top.alt</string>
    <string>TTA.pulli.top.alt</string>
    <string>RRA.4</string>
    <string>WU.vert.corner.1.alt</string>
    <string>WUU.vert.corner.1.alt</string>
    <string>VS1</string>
    <string>VS2</string>
    <string>VS3</string>
    <string>VS4</string>
    <string>VS5</string>
    <string>VS6</string>
    <string>VS7</string>
    <string>VS8</string>
    <string>VS9</string>
    <string>VS10</string>
    <string>VS11</string>
    <string>VS12</string>
    <string>VS13</string>
    <string>VS14</string>
    <string>VS15</string>
    <string>VS16</string>
    <string>PULLI.inside</string>
    <string>WU.1.longka</string>
  </array>
</dict>
</plist>
