<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>A.1</key>
  <string>A_.1.glif</string>
  <key>A.2</key>
  <string>A_.2.glif</string>
  <key>AA</key>
  <string>A_A_.glif</string>
  <key>AA.1</key>
  <string>A_A_.1.glif</string>
  <key>AA.2</key>
  <string>A_A_.2.glif</string>
  <key>AA.3</key>
  <string>A_A_.3.glif</string>
  <key>AI</key>
  <string>A_I_.glif</string>
  <key>AU</key>
  <string>A_U_.glif</string>
  <key>AYTHAM</key>
  <string>A_Y_T_H_A_M_.glif</string>
  <key>CA</key>
  <string>C_A_.glif</string>
  <key>CA.1</key>
  <string>C_A_.1.glif</string>
  <key>CA.2</key>
  <string>C_A_.2.glif</string>
  <key>CA.3</key>
  <string>C_A_.3.glif</string>
  <key>CA.4</key>
  <string>C_A_.4.glif</string>
  <key>CR</key>
  <string>C_R_.glif</string>
  <key>DHA</key>
  <string>D_H_A_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>EE</key>
  <string>E_E_.glif</string>
  <key>EE.1</key>
  <string>E_E_.1.glif</string>
  <key>EE.2</key>
  <string>E_E_.2.glif</string>
  <key>EE.3</key>
  <string>E_E_.3.glif</string>
  <key>HA</key>
  <string>H_A_.glif</string>
  <key>HA.1</key>
  <string>H_A_.1.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>I.1</key>
  <string>I_.1.glif</string>
  <key>I.2</key>
  <string>I_.2.glif</string>
  <key>II</key>
  <string>I_I_.glif</string>
  <key>JA</key>
  <string>J_A_.glif</string>
  <key>JAA</key>
  <string>J_A_A_.glif</string>
  <key>KA</key>
  <string>K_A_.glif</string>
  <key>KA.1</key>
  <string>K_A_.1.glif</string>
  <key>KA.2</key>
  <string>K_A_.2.glif</string>
  <key>KA.3</key>
  <string>K_A_.3.glif</string>
  <key>KA.4</key>
  <string>K_A_.4.glif</string>
  <key>KA.5</key>
  <string>K_A_.5.glif</string>
  <key>LA</key>
  <string>L_A_.glif</string>
  <key>LA.1</key>
  <string>L_A_.1.glif</string>
  <key>LA.2</key>
  <string>L_A_.2.glif</string>
  <key>LLA</key>
  <string>L_L_A_.glif</string>
  <key>LLA.1</key>
  <string>L_L_A_.1.glif</string>
  <key>LLA.2</key>
  <string>L_L_A_.2.glif</string>
  <key>LLA.3</key>
  <string>L_L_A_.3.glif</string>
  <key>LLA.4</key>
  <string>L_L_A_.4.glif</string>
  <key>LLA.5</key>
  <string>L_L_A_.5.glif</string>
  <key>LLA.6</key>
  <string>L_L_A_.6.glif</string>
  <key>LLA.7</key>
  <string>L_L_A_.7.glif</string>
  <key>LLLA</key>
  <string>L_L_L_A_.glif</string>
  <key>LLLA.1</key>
  <string>L_L_L_A_.1.glif</string>
  <key>LLLA.2</key>
  <string>L_L_L_A_.2.glif</string>
  <key>LLLA.3</key>
  <string>L_L_L_A_.3.glif</string>
  <key>LLLA.4</key>
  <string>L_L_L_A_.4.glif</string>
  <key>MA</key>
  <string>M_A_.glif</string>
  <key>MA.1</key>
  <string>M_A_.1.glif</string>
  <key>MA.2</key>
  <string>M_A_.2.glif</string>
  <key>MA.3</key>
  <string>M_A_.3.glif</string>
  <key>MA.4</key>
  <string>M_A_.4.glif</string>
  <key>MA.5</key>
  <string>M_A_.5.glif</string>
  <key>MA.7</key>
  <string>M_A_.7.glif</string>
  <key>MA.8</key>
  <string>M_A_.8.glif</string>
  <key>NA</key>
  <string>N_A_.glif</string>
  <key>NA.1</key>
  <string>N_A_.1.glif</string>
  <key>NA.2</key>
  <string>N_A_.2.glif</string>
  <key>NA.3</key>
  <string>N_A_.3.glif</string>
  <key>NGA</key>
  <string>N_G_A_.glif</string>
  <key>NGA.1</key>
  <string>N_G_A_.1.glif</string>
  <key>NGA.2</key>
  <string>N_G_A_.2.glif</string>
  <key>NGA.pulli.topa.alt</key>
  <string>N_G_A_.pulli.topa.alt.glif</string>
  <key>NNA</key>
  <string>N_N_A_.glif</string>
  <key>NNA.1</key>
  <string>N_N_A_.1.glif</string>
  <key>NNA.2</key>
  <string>N_N_A_.2.glif</string>
  <key>NNA.3</key>
  <string>N_N_A_.3.glif</string>
  <key>NNA.pulli.top.alt</key>
  <string>N_N_A_.pulli.top.alt.glif</string>
  <key>NNNA</key>
  <string>N_N_N_A_.glif</string>
  <key>NNNA.1</key>
  <string>N_N_N_A_.1.glif</string>
  <key>NNNA.2</key>
  <string>N_N_N_A_.2.glif</string>
  <key>NULL</key>
  <string>N_U_L_L_.glif</string>
  <key>NYA</key>
  <string>N_Y_A_.glif</string>
  <key>NYA.1</key>
  <string>N_Y_A_.1.glif</string>
  <key>NYA.2</key>
  <string>N_Y_A_.2.glif</string>
  <key>NYA.3</key>
  <string>N_Y_A_.3.glif</string>
  <key>NYA.4</key>
  <string>N_Y_A_.4.glif</string>
  <key>NYA.5</key>
  <string>N_Y_A_.5.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OO</key>
  <string>O_O_.glif</string>
  <key>PA</key>
  <string>P_A_.glif</string>
  <key>PA.1</key>
  <string>P_A_.1.glif</string>
  <key>PA.2</key>
  <string>P_A_.2.glif</string>
  <key>PA.3</key>
  <string>P_A_.3.glif</string>
  <key>PA.4</key>
  <string>P_A_.4.glif</string>
  <key>PA.5</key>
  <string>P_A_.5.glif</string>
  <key>PA.6</key>
  <string>P_A_.6.glif</string>
  <key>PA.7</key>
  <string>P_A_.7.glif</string>
  <key>PA.8</key>
  <string>P_A_.8.glif</string>
  <key>PULLI</key>
  <string>P_U_L_L_I_.glif</string>
  <key>PULLI.inside</key>
  <string>P_U_L_L_I_.inside.glif</string>
  <key>PULLI.left</key>
  <string>P_U_L_L_I_.left.glif</string>
  <key>PULLI.left.1</key>
  <string>P_U_L_L_I_.left.1.glif</string>
  <key>PULLI.top</key>
  <string>P_U_L_L_I_.top.glif</string>
  <key>PULLI_TOP_DISAMB</key>
  <string>P_U_L_L_I__T_O_P__D_I_S_A_M_B_.glif</string>
  <key>RA</key>
  <string>R_A_.glif</string>
  <key>RA.1</key>
  <string>R_A_.1.glif</string>
  <key>RRA</key>
  <string>R_R_A_.glif</string>
  <key>RRA.1</key>
  <string>R_R_A_.1.glif</string>
  <key>RRA.2</key>
  <string>R_R_A_.2.glif</string>
  <key>RRA.3</key>
  <string>R_R_A_.3.glif</string>
  <key>RRA.4</key>
  <string>R_R_A_.4.glif</string>
  <key>RRA.5</key>
  <string>R_R_A_.5.glif</string>
  <key>RRA.6</key>
  <string>R_R_A_.6.glif</string>
  <key>SA</key>
  <string>S_A_.glif</string>
  <key>SA.1</key>
  <string>S_A_.1.glif</string>
  <key>SA.2</key>
  <string>S_A_.2.glif</string>
  <key>SA.3</key>
  <string>S_A_.3.glif</string>
  <key>SHA</key>
  <string>S_H_A_.glif</string>
  <key>SHA.1</key>
  <string>S_H_A_.1.glif</string>
  <key>SHA.2</key>
  <string>S_H_A_.2.glif</string>
  <key>SSA</key>
  <string>S_S_A_.glif</string>
  <key>SSA.1</key>
  <string>S_S_A_.1.glif</string>
  <key>TA</key>
  <string>T_A_.glif</string>
  <key>TA.1</key>
  <string>T_A_.1.glif</string>
  <key>TA.2</key>
  <string>T_A_.2.glif</string>
  <key>TA.3</key>
  <string>T_A_.3.glif</string>
  <key>TA.4</key>
  <string>T_A_.4.glif</string>
  <key>TA.5</key>
  <string>T_A_.5.glif</string>
  <key>TTA</key>
  <string>T_T_A_.glif</string>
  <key>TTA.1</key>
  <string>T_T_A_.1.glif</string>
  <key>TTA.2</key>
  <string>T_T_A_.2.glif</string>
  <key>TTA.4</key>
  <string>T_T_A_.4.glif</string>
  <key>TTA.pulli.top.alt</key>
  <string>T_T_A_.pulli.top.alt.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>UU</key>
  <string>U_U_.glif</string>
  <key>VA</key>
  <string>V_A_.glif</string>
  <key>VA.1</key>
  <string>V_A_.1.glif</string>
  <key>VA.2</key>
  <string>V_A_.2.glif</string>
  <key>VA.3</key>
  <string>V_A_.3.glif</string>
  <key>VA.4</key>
  <string>V_A_.4.glif</string>
  <key>VA.5</key>
  <string>V_A_.5.glif</string>
  <key>VA.6</key>
  <string>V_A_.6.glif</string>
  <key>VS1</key>
  <string>V_S_1.glif</string>
  <key>VS10</key>
  <string>V_S_10.glif</string>
  <key>VS11</key>
  <string>V_S_11.glif</string>
  <key>VS12</key>
  <string>V_S_12.glif</string>
  <key>VS13</key>
  <string>V_S_13.glif</string>
  <key>VS14</key>
  <string>V_S_14.glif</string>
  <key>VS15</key>
  <string>V_S_15.glif</string>
  <key>VS16</key>
  <string>V_S_16.glif</string>
  <key>VS2</key>
  <string>V_S_2.glif</string>
  <key>VS3</key>
  <string>V_S_3.glif</string>
  <key>VS4</key>
  <string>V_S_4.glif</string>
  <key>VS5</key>
  <string>V_S_5.glif</string>
  <key>VS6</key>
  <string>V_S_6.glif</string>
  <key>VS7</key>
  <string>V_S_7.glif</string>
  <key>VS8</key>
  <string>V_S_8.glif</string>
  <key>VS9</key>
  <string>V_S_9.glif</string>
  <key>WAA</key>
  <string>W_A_A_.glif</string>
  <key>WAA.mid</key>
  <string>W_A_A_.mid.glif</string>
  <key>WAA.mid.mid.alt</key>
  <string>W_A_A_.mid.mid.alt.glif</string>
  <key>WAA.protr.alt</key>
  <string>W_A_A_.protr.alt.glif</string>
  <key>WAI</key>
  <string>W_A_I_.glif</string>
  <key>WAI.mid</key>
  <string>W_A_I_.mid.glif</string>
  <key>WAI.protr.alt</key>
  <string>W_A_I_.protr.alt.glif</string>
  <key>WAU</key>
  <string>W_A_U_.glif</string>
  <key>WAU.protr.alt</key>
  <string>W_A_U_.protr.alt.glif</string>
  <key>WE</key>
  <string>W_E_.glif</string>
  <key>WE.mid</key>
  <string>W_E_.mid.glif</string>
  <key>WE.mid.pulli.top.alt</key>
  <string>W_E_.mid.pulli.top.alt.glif</string>
  <key>WE.protr.alt</key>
  <string>W_E_.protr.alt.glif</string>
  <key>WE.pulli.top.alt</key>
  <string>W_E_.pulli.top.alt.glif</string>
  <key>WE.pulli.top.protr.alt</key>
  <string>W_E_.pulli.top.protr.alt.glif</string>
  <key>WEE</key>
  <string>W_E_E_.glif</string>
  <key>WEE.mid</key>
  <string>W_E_E_.mid.glif</string>
  <key>WEE.protr.alt</key>
  <string>W_E_E_.protr.alt.glif</string>
  <key>WI</key>
  <string>W_I_.glif</string>
  <key>WI.mid.mid.alt</key>
  <string>W_I_.mid.mid.alt.glif</string>
  <key>WI.protr.alt</key>
  <string>W_I_.protr.alt.glif</string>
  <key>WI.stub</key>
  <string>W_I_.stub.glif</string>
  <key>WI.stub.mid</key>
  <string>W_I_.stub.mid.glif</string>
  <key>WI.stub.protr.alt</key>
  <string>W_I_.stub.protr.alt.glif</string>
  <key>WII</key>
  <string>W_I_I_.glif</string>
  <key>WII.mid.mid.allt</key>
  <string>W_I_I_.mid.mid.allt.glif</string>
  <key>WII.protr.alt</key>
  <string>W_I_I_.protr.alt.glif</string>
  <key>WII.stub</key>
  <string>W_I_I_.stub.glif</string>
  <key>WII.stub.mid</key>
  <string>W_I_I_.stub.mid.glif</string>
  <key>WII.stub.protr.alt</key>
  <string>W_I_I_.stub.protr.alt.glif</string>
  <key>WO</key>
  <string>W_O_.glif</string>
  <key>WO.inv.alt</key>
  <string>W_O_.inv.alt.glif</string>
  <key>WO.inv.protr.alt</key>
  <string>W_O_.inv.protr.alt.glif</string>
  <key>WO.inv.pulli.top.alt</key>
  <string>W_O_.inv.pulli.top.alt.glif</string>
  <key>WO.inv.pulli.top.protr.alt</key>
  <string>W_O_.inv.pulli.top.protr.alt.glif</string>
  <key>WO.protr.alt</key>
  <string>W_O_.protr.alt.glif</string>
  <key>WO.pulli.top.alt</key>
  <string>W_O_.pulli.top.alt.glif</string>
  <key>WO.pulli.top.protr.alt</key>
  <string>W_O_.pulli.top.protr.alt.glif</string>
  <key>WOO</key>
  <string>W_O_O_.glif</string>
  <key>WOO.inv.alt</key>
  <string>W_O_O_.inv.alt.glif</string>
  <key>WOO.inv.protr.alt</key>
  <string>W_O_O_.inv.protr.alt.glif</string>
  <key>WOO.protr.alt</key>
  <string>W_O_O_.protr.alt.glif</string>
  <key>WU</key>
  <string>W_U_.glif</string>
  <key>WU.1.longka</key>
  <string>W_U_.1.longka.glif</string>
  <key>WU.horiz.long1</key>
  <string>W_U_.horiz.long1.glif</string>
  <key>WU.horiz.long1.protr.alt</key>
  <string>W_U_.horiz.long1.protr.alt.glif</string>
  <key>WU.horiz.long2</key>
  <string>W_U_.horiz.long2.glif</string>
  <key>WU.horiz.long2.protr.alt</key>
  <string>W_U_.horiz.long2.protr.alt.glif</string>
  <key>WU.protr.alt</key>
  <string>W_U_.protr.alt.glif</string>
  <key>WU.vert.corner</key>
  <string>W_U_.vert.corner.glif</string>
  <key>WU.vert.corner.1.alt</key>
  <string>W_U_.vert.corner.1.alt.glif</string>
  <key>WU.vert.corner.alt</key>
  <string>W_U_.vert.corner.alt.glif</string>
  <key>WU.vert.mid</key>
  <string>W_U_.vert.mid.glif</string>
  <key>WUU</key>
  <string>W_U_U_.glif</string>
  <key>WUU.hor.long.bot</key>
  <string>W_U_U_.hor.long.bot.glif</string>
  <key>WUU.hor.long.bot.protr.alt</key>
  <string>W_U_U_.hor.long.bot.protr.alt.glif</string>
  <key>WUU.hor.long.top1</key>
  <string>W_U_U_.hor.long.top1.glif</string>
  <key>WUU.hor.long.top1.protr.alt</key>
  <string>W_U_U_.hor.long.top1.protr.alt.glif</string>
  <key>WUU.hor.long.top2</key>
  <string>W_U_U_.hor.long.top2.glif</string>
  <key>WUU.hor.long.top2.protr.alt</key>
  <string>W_U_U_.hor.long.top2.protr.alt.glif</string>
  <key>WUU.hor.long.top3</key>
  <string>W_U_U_.hor.long.top3.glif</string>
  <key>WUU.hor.long.top3.protr.alt</key>
  <string>W_U_U_.hor.long.top3.protr.alt.glif</string>
  <key>WUU.hor.long.top4</key>
  <string>W_U_U_.hor.long.top4.glif</string>
  <key>WUU.hor.long.top4.protr.alt</key>
  <string>W_U_U_.hor.long.top4.protr.alt.glif</string>
  <key>WUU.mid.alt.1</key>
  <string>W_U_U_.mid.alt.1.glif</string>
  <key>WUU.protr.alt</key>
  <string>W_U_U_.protr.alt.glif</string>
  <key>WUU.vert.corner</key>
  <string>W_U_U_.vert.corner.glif</string>
  <key>WUU.vert.corner.1.alt</key>
  <string>W_U_U_.vert.corner.1.alt.glif</string>
  <key>WUU.vert.corner.alt</key>
  <string>W_U_U_.vert.corner.alt.glif</string>
  <key>WUU.vert.corner.alt.1</key>
  <string>W_U_U_.vert.corner.alt.1.glif</string>
  <key>WUU.vert.mid</key>
  <string>W_U_U_.vert.mid.glif</string>
  <key>YA</key>
  <string>Y_A_.glif</string>
  <key>YA.1</key>
  <string>Y_A_.1.glif</string>
  <key>YA.2</key>
  <string>Y_A_.2.glif</string>
  <key>YA.3</key>
  <string>Y_A_.3.glif</string>
  <key>YA.4</key>
  <string>Y_A_.4.glif</string>
  <key>YA.5</key>
  <string>Y_A_.5.glif</string>
  <key>YA.6</key>
  <string>Y_A_.6.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>uni000A</key>
  <string>uni000A_.glif</string>
</dict>
</plist>
